@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 

    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./img/img2.jpg') center/cover; 
    
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    backdrop-filter: blur(10px);
}

.container h1{
    font-size: 38px;
    text-align: center;
    font-weight: 780;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;

}

.input-box input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 40px;
        outline: none;
        font-size: 16px;
        color: #fff;
        padding: 20px 45px 20px 20px;

}

.input-box input::placeholder {
    color: #c5c5c5;
    
}

.input-box i{
    position: absolute;
    right: 20px;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -5px 0 15px;
}

.remember-forgot label input {
    accent-color: rgba(155, 201, 112, 1);
    margin: 5px;
    cursor: pointer;
}

.remember-forgot a {
    text-decoration: none;
    color: rgba(195, 217, 176, 0.8); 
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;

}

.login{
    width: 100%;
    height: 50px;
    border: #c5c5c5;
    border-radius: 15px;
    background-color: rgba(136, 159, 116, 1);
    font-size: 20px;
    cursor: pointer;
    color: #333;
    font-weight: 650;
    margin-top: 7px;
    
}

.login:hover{
    background-color:rgba(206, 228, 186, .8);
    /* border: 2px solid rgba(255, 255, 255, .2); */
    transition: 0.3s;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 13px 0 15px;
}

.register-link a {
    text-decoration: none;
    color: rgba(195, 217, 176, 0.8); 
    font-weight: 600;
}


.register-link a:hover {
    text-decoration: underline;
}

